* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
}

/* Remove outline for non-keyboard focus */
*:focus:not(.focus-visible) {
  outline: none;
}

.footer {
  text-align: center;
  color: #595963;
  padding: 10%;
}

body {
  font-family: "Lato", sans-serif !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-color: #1d1d21;
  color: white;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out,
    border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  border-bottom-color: transparent;
  color: aqua !important;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(244, 244, 244, 0.2),
    0px 0px 50px rgba(244, 244, 244, 0.2);
}

.sneaker {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 15rem;
  height: 15rem;

  /* background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  ); */

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.75),
    rgba(244, 244, 244, 0.75)
  );

  /* background: linear-gradient(
    to right,
    rgba(254, 255, 3, 0.75),
    rgba(1, 255, 252, 0.75),
    rgba(0, 253, 0, 0.75),
    rgba(255, 2, 251, 0.75),
    rgba(0, 253, 0, 0.75),
    rgba(0, 0, 250, 0.75)
  ); */

  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    transform-style: preserve-3d;
    min-height: 70vh;
    width: 25rem;
    border-radius: 30px;
    padding: 0rem 3rem;
    box-shadow: 0 20px 20px rgba(244, 244, 244, 0.2),
      0px 0px 50px rgba(244, 244, 244, 0.2);
  }
  .sneaker {
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sneaker img {
    width: 15rem;
    transition: all 0.75s ease-out;
  }
  .circle {
    display: none;
  }

  .info h1 {
    font-size: 2rem !important;
    transition: all 0.75s ease-out;
  }
  .info h3 {
    font-size: 1rem !important;
    padding: 1rem 0rem !important;
    color: white;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }

  .sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-weight: bold;
    color: #595963;
    cursor: pointer;
    transition: 0.75s;
  }
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: white;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.75s;
  border: 2px solid white;
}

.purchase {
  margin-top: 0rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  transition: 0.75s;
}

.submitButton {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  transition: 0.75s;
  margin-top: 5%;
}

.registerForm {
  width: auto;
  padding: 5%;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.registerForm input[type="text"],
.registerForm input[type="email"],
.registerForm textarea {
  border: 0;
  background: none;
  display: block;
  margin: 5% auto;
  text-align: center;
  border: 2px solid white;
  padding: 3% 3%;
  width: 100%;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.registerForm input[type="text"]:focus,
.registerForm input[type="email"]:focus,
.registerForm textarea:focus {
  text-align: center;
  width: 100%;
  border-color: aqua;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  padding-bottom: 10%;
}

.wrapper input {
  padding: 5% 5% !important;
}

.wrapper input:focus {
  padding: 8% 8% !important;
}

.input {
  font-family: "Lato", sans-serif !important;
}
